<header class="row sticky-top m-0 HeaderStyle shadow-sm">
    <div class="col-md-4">
        <div class="row pl-0">           
            <button type="button" class="btn buttonToggle mx-2 my-2" (click)="toggleSidebar()">
                <i class="fa fa-bars fa-lg"
                 aria-hidden="true"></i>
            </button>           
            <div> 
                <h5 class="mt-1 pt-1">{{sectionService.currentSection}}</h5>
            </div>
        </div>
    </div>
    <div class="col-md-8 ContenidoHeader">   
        <div class="float-right mt-2 pt-2">    
            <!-- <div class="col-12 row justify-content-center text-right ContenidoHeader"style="background-color: yellow;">                 -->
                    <!-- <span>Estado: </span> <span style="color: springgreen;">Conectado</span>&nbsp;&nbsp; -->
                    <span>Usuario: </span> <span class="UsuarioConectado py-1 px-1">Maria Mena Mora</span>&nbsp;&nbsp;
                    <!-- <span>Tipo de Cambio: ₡604.05</span>   &nbsp; -->
                </div>             
    </div>
</header>
