<ngb-carousel #carousel [interval]="1000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
      </div>
      <a  target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img" alt="My image {{i + 1}} description">
        </div>
      </a>
    </ng-template>
  </ngb-carousel>   
  
  <hr>  
  
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="pauseOnHover" [(ngModel)]="pauseOnHover">
    <label class="form-check-label" for="pauseOnHover">Pause on hover</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="pauseOnFocus" [(ngModel)]="pauseOnFocus">
    <label class="form-check-label" for="pauseOnFocus">Pause on focus</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="unpauseOnArrow" [(ngModel)]="unpauseOnArrow">
    <label class="form-check-label" for="unpauseOnArrow">Unpause when clicking on arrows</label>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="pauseOnIndicator" [(ngModel)]="pauseOnIndicator">
    <label class="form-check-label" for="pauseOnIndicator">Pause when clicking on navigation indicator</label>
  </div>
  <button type="button" (click)="togglePaused()" class="btn btn-outline-dark btn-sm">
    {{paused ? 'Cycle' : 'Pause' }}
  </button>




<div class="div mt-3">
 
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li  [ngbNavItem]="1">
    <a ngbNavLink>
     Toggle
      <!-- <span class="close position-relative pl-2 font-weight-light" (click)="close($event, id)">×</span> -->
    </a>
    
    <ng-template ngbNavContent>
      <div class="div mt-3">
        <p>
          <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample">
            Toggle
          </button>
        </p>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div class="card">
            <div class="card-body">
              You can collapse this card by clicking Toggle
      <br>
              </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li  [ngbNavItem]="2">
    <a ngbNavLink>
     Modal
      <!-- <span class="close position-relative pl-2 font-weight-light" (click)="close($event, id)">×</span> -->
    </a>    
    <ng-template ngbNavContent>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Hello, World!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div>
      </ng-template>
      
      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
   
    </ng-template>
  </li>
  <li  [ngbNavItem]="3">
    <a ngbNavLink>
     Accordeon
      <!-- <span class="close position-relative pl-2 font-weight-light" (click)="close($event, id)">×</span> -->
    </a>
    
    <ng-template ngbNavContent>
      <div class="div mt-3">
  
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="Simple">
            <ng-template ngbPanelContent>
              <div class="div mt-3">
                <p>Rating 
                </p>
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
                <hr>
               
                <pre>Rate: <b>{{currentRate}}</b></pre>
                </div>
            </ng-template>
          </ngb-panel>   
        </ngb-accordion>
      </div>
    </ng-template>
  </li>
 
  <li class="nav-item">
    <a class="nav-link" href (click)="add($event)">...</a>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<pre>Active: {{ active }}</pre>
</div>
