<!-- <div class="row container-fluid py-3 ml-0 mt-2  contentTable">
    <div class="col-md-4 tableSubtotales FontTotales">
     
        <input type="text" value="Inventario" class="form-control form-control-sm "
             readonly>
    </div>  
    <div class="col-md-4 tableSubtotales FontTotales">
      
        <input type="text" value="Facturación" class="form-control form-control-sm "
             readonly>
    </div>
    <div class="col-md-4 tableSubtotales FontTotales">
        
        <input type="text" value="Impresión" class="form-control form-control-sm " 
                 readonly>
    </div>
    <div class="col-md-4 tableSubtotales FontTotales">
     
        <input type="text" value="Orden Compra" class="form-control form-control-sm "
             readonly>
    </div>  
    <div class="col-md-4 tableSubtotales FontTotales">
      
        <input type="text " value="Usuarios"class="form-control form-control-sm "
             readonly>
    </div>
    <div class="col-md-4 tableSubtotales FontTotales">
        
        <input type="text "value="Permisos" class="form-control form-control-sm " 
                 readonly>
    </div>
    
</div> -->