<div class="">
  <div class="row mt-0 pt-0 mb-2">
    <div class="col-md-12 mt-0">
      <div class="float-right ml-1">
          <label>&nbsp;</label>
          <button class="btnstyle form-control form-control-sm btn-light shadow-sm btn-st" ><i
    class="fa fa-upload" aria-hidden="true"></i>
  Guardar</button>
      </div>
      <div class="float-right ml-1">
          <label>&nbsp;</label>
          <button class=" btnstyle form-control form-control-sm btn-light shadow-sm btn-st"><i
    class="fa fa-search"></i>
  Buscar</button>
      </div>
    </div></div></div>
  


<table class="table invi table-hover test">
    <thead class="">
      <tr>
        <th scope="col" class="thHeader">#</th>  
        <th scope="col" class="thHeader" sortable="name" (sort)="onSort($event)">Nombre</th>  
        <th scope="col" class="thHeader" sortable="area" (sort)="onSort($event)">Orden  </th>
        <th scope="col" class="thHeader" sortable="population" (sort)="onSort($event)">Sort</th>
        <th scope="col" class="thHeader">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries">
        <th scope="col">{{ country.id }}</th>
        <td> 
          {{ country.name }}
        </td>
        <td>{{ country.area | number}}</td>
        <td>{{ country.population | number }}</td> 
        <td></td>  
      </tr> 
    
         
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()" [maxSize]="1">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (change)="refreshCountries()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>


  




