<table class="table invi table-striped">
    <thead class="invi" style="border-radius: 30px; border:none;">
      <tr>
        <th scope="col" class="thHeader">#</th>  
        <th scope="col" class="thHeader">Usuario</th>
        <th scope="col" class="thHeader">Fecha</th>
        <th scope="col" class="thHeader">Archivos</th>
        <th scope="col" class="thHeader">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>eaguilar@clavisco</td>
        <td>04/02/2021 8:00 AM</td>
        <td>gap.xml, gap.pdf</td>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-list" aria-hidden="true" title="Crear en sap"></i>
                </li>
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-download" aria-hidden="true" title="Descargar xml"></i>
                </li>
             </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>larry@clavisco</td>
        <td>01/01/2021 1:58 PM</td>
        <td>receta.xml, receta.pdf</td>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-list" aria-hidden="true" title="Crear en sap"></i>
                </li>
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-download" aria-hidden="true" title="Descargar xml"></i>
                </li>
             </ul>
        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>larry@clavisco</td>
        <td>01/01/2021 1:58 PM</td>
        <td>receta.xml, receta.pdf</td>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-list" aria-hidden="true" title="Crear en sap"></i>
                </li>
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-download" aria-hidden="true" title="Descargar xml"></i>
                </li>
             </ul>
        </td>
      </tr>
      <!-- <tr>
        <th scope="row">5</th>
        <td>larry@clavisco</td>
        <td>01/01/2021 1:58 PM</td>
        <td>receta.xml, receta.pdf</td>
        <td>
            <ul class="list-inline">
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-list" aria-hidden="true" title="Crear en sap"></i>
                </li>
                <li class="list-inline-item cursor-hand">
                    <i class="fa fa-download" aria-hidden="true" title="Descargar xml"></i>
                </li>
             </ul>
        </td>
      </tr> -->
    </tbody>
  </table>

