 <!-- Container for sidebar(s) + page content -->
 <ng-sidebar-container class="ColorFondoGeneral"> 
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="opened" [(mode)]="sidebarMode" [dock]="dock" [dockedSize]="'50px'">
    <!-- <div class="col-12 text-center mt-1" ngbPopover="CLAVISCO" triggers="mouseenter:mouseleave" placement="right" container="body">  
      <img class="" src="../assets/img/prueba.svg" alt="CLAVISCO">
     <h5 class="pb-1 mt-0 border-bottom ">  
     </h5>  
     </div>   -->
    <div class="container-fluid pl-1 pr-1" *ngIf="opened"> 
            <div class="text-center mt-1" ngbPopover="CLAVISCO" triggers="mouseenter:mouseleave" placement="right" container="body">  
            <h5 class="pb-2 mt-0 border-bottom "> 
           <img class="img-fluid" src="../assets/img/logoclvs.png" alt="CLAVISCO">       
            </h5>  
            </div>        
      <div class="row FuenteMenu"> 
        <div class="col-12" *ngFor="let option of menu" (click)="onClickMenuOption(option)">
          <div class="py-1 px-2 menu-option" [ngClass]="{'menu-option-selected': option.Selected}">         
           <img class="mb-2 mr-3" [src]="'../assets/img/menu/'+option.Icon">         
           {{option.Name}}          
          </div>  
         <div *ngIf="option.Selected && showsubMenu" class="col-12 FuenteSubMenu">
            <div class="py-2 px-2 menu-option" *ngFor="let optionsubmenu of option.SubMenu"  [ngClass]="{'menu-option-selected': optionsubmenu.Selected}"(click)="onClicksubMenuOption(optionsubmenu)">
            <i class="fa-lg mr-3" [ngClass]="[optionsubmenu.icon]"></i>{{optionsubmenu.name}}
            </div>
          </div>          
        </div>      
       </div> 
       <div class="mx-4 footer">    
       <span> &copy; {{ annio }} Clavis Consultores S.A.</span>   
    </div>   
    </div>
    <div class="container-fluid" *ngIf="dock">    
      <div class="row mt-1" ngbPopover="CLAVISCO" triggers="mouseenter:mouseleave" placement="right" container="body">  
        <h5 class="pb-1 border-bottom"> 
           <img class="" style="padding-left: 12px;" src="../assets/img/logoclvs.png" alt="CLAVISCO" >
          
          </h5>       
      </div> 
      <div class="row text-left">
        <div class="col-12" *ngFor="let option of menu" (click)="onClickMenuOption(option)">
          <div class="row py-2 px-2 menu-option" [ngClass]="{'menu-option-selected': option.Selected}" ngbPopover="{{option.Name}} " triggers="mouseenter:mouseleave" placement="right" container="body">
            <!-- <i class="fa-lg mr-3 SizeIcon "> -->
            <img class="SizeIcon" [src]="'../assets/img/menu/'+option.Icon">    
          </div> 
          <div *ngIf="option.Selected && showsubMenu" class="text-left">
            <div class="row py-2 pt-2 menu-option" [ngClass]="{'menu-option-selected': option.Selected}" *ngFor="let optionsubmenu of option.SubMenu" (click)="onClicksubMenuOption(optionsubmenu)" ngbPopover="{{optionsubmenu.name}} " triggers="mouseenter:mouseleave" placement="right" container="body">
         <i class="fa-lg mr-3 SizeIcon" [ngClass]="[optionsubmenu.icon]"></i> 
            </div>
          </div>           
        </div> 
       </div>
    </div>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>

    <div class="container-fluid p-0 ColorFondoGeneral" >

      <app-header></app-header> 

      <div id="router-outlet-container" class="pb-1 pt-2"      
        [ngClass]="{'outlet-container-padding': !opened, 'px-2': opened}">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="_toggleDock()">dock ({{dock}})</button> -->
        <router-outlet></router-outlet>
      </div>

      <!-- <app-footer></app-footer> -->

    </div>
     
  </div>
</ng-sidebar-container>

