 <!-- Container for sidebar(s) + page content -->
 <ng-sidebar-container class="ColorFondoGeneral">
 
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="opened" [(mode)]="sidebarMode" [dock]="dock" [dockedSize]="'50px'">
    <div class="container-fluid" *ngIf="opened">
      <div class="col-12 text-center mt-3">  
           <img src="../assets/img/loguito3.png" alt="CLAVISCO">
          <h5 class="pb-2 border-bottom">  
          </h5>      
      </div>
      <div class="row">
        <div class="col-12" *ngFor="let option of menu" (click)="onClickMenuOption(option)">
          <div class="py-2 px-2 menu-option" [ngClass]="{'menu-option-selected': option.Selected}">
            <i class="fa-lg mr-3" [ngClass]="[option.Icon]"></i>{{option.Name}}       

          </div> 
          <div *ngIf="option.Selected && showsubMenu" class="col-12">
            <div class="py-2 px-2 menu-option" *ngFor="let optionsubmenu of option.SubMenu"  [ngClass]="{'menu-option-selected': optionsubmenu.Selected}"(click)="onClicksubMenuOption(optionsubmenu)">
            <i class="fa-lg mr-3" [ngClass]="[optionsubmenu.icon]"></i>{{optionsubmenu.name}}
            </div>
          </div>           
        </div> 
       </div> 
       <div class="text-center pt-2">
    
        &copy; {{ annio }} Clavis Consultores S.A.
      
       </div>
    </div>
    <div class="container-fluid mt-10" *ngIf="dock">    
      <div class="row mt-2 text-center ml-1"ngbPopover="CLAVISCO" triggers="mouseenter:mouseleave" placement="right" container="body">  
           <img src="../assets/img/loguito3.png" alt="CLAVISCO" style="height: 30px; width: 30px;">
          <!-- <h5 class="pb-2 border-bottom">  
          </h5>       -->
      </div>
      <div class="row text-left mt-3">
        <div class="col-12" *ngFor="let option of menu" (click)="onClickMenuOption(option)">
          <div class="row py-2 menu-option" [ngClass]="{'menu-option-selected': option.Selected}" ngbPopover="{{option.Name}} " triggers="mouseenter:mouseleave" placement="right" container="body">
            <i class="fa-lg mr-3 SizeIcon " [ngClass]="[option.Icon]"></i>
          </div> 
          <div *ngIf="option.Selected && showsubMenu" class="text-left">
            <div class="row py-2 pt-2 menu-option" [ngClass]="{'menu-option-selected': option.Selected}" *ngFor="let optionsubmenu of option.SubMenu" (click)="onClicksubMenuOption(optionsubmenu)" ngbPopover="{{optionsubmenu.name}} " triggers="mouseenter:mouseleave" placement="right" container="body">
            <i class="fa-lg mr-3 SizeIcon" [ngClass]="[optionsubmenu.icon]"></i>
            </div>
          </div>           
        </div> 
       </div>
    </div>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>

    <div class="container-fluid p-0 ColorFondoGeneral" >

      <app-header></app-header> 

      <div id="router-outlet-container" class="pb-1 pt-2"      
        [ngClass]="{'outlet-container-padding': !opened, 'px-2': opened}">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="_toggleDock()">dock ({{dock}})</button> -->
        <router-outlet></router-outlet>
      </div>

      <!-- <app-footer></app-footer> -->

    </div>
     
  </div>
</ng-sidebar-container>

