@import "~bootstrap/dist/css/bootstrap.css";
/*Content Sidebar*/
body {
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}
.ColorFondoGeneral{
    background-color: white !important;/*#f1f1f1*/
}
/*EndContent Sidebar*/
/*ICONO*/
img {
    width: 50px;
    height: 50px;   
}
/*End ICONO*/

/*Style HEADER*/
.HeaderStyle{  
    background-color: #1b81be;   
}
.ContenidoHeader{   
    color: white;
    font-size: 14px;
    font-family: "Segoe UI Regular";
}
.HeaderStyle H5{
    color: white;
    font-family:"Segoe UI Regular";
}
.buttonToggle {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none !important;
    color: white;
}
.buttonToggle:hover {
    background-color: #1b81be;
    color: #f1f1f1;
}
/*End Style HEADER*/