@import "~bootstrap/dist/css/bootstrap.css";

body {
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}

.buttonToggle {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none !important;
    color: white;

    /*Caro*/
    /* color: #1b81be; */

}



.buttonToggle:hover {
    background-color: #1b81be;
    color: #f1f1f1;
}

img {
    width: 50px;
    height: 50px;
   
}
.HeaderStyle{
  
    background-color: #1b81be;
    
    /*Caro*/
    /* background-color: white;
    border-bottom: 1px solid #1b81be;  */
   
   
}
.ContenidoHeader{
   
    color: white;
    font-size: 14px;
    font-weight: bolder;

    /*Caro*/
    /* color: #979797; */
   

}
.HeaderStyle H5{
    color: white;

    /*Caro*/
    /* color: #1b81be; */
}

.ColorFondoGeneral{
    background-color: #f1f1f1 !important;
}

.pruebaHome{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
}

.divShadow {
   
    -webkit-box-shadow: 0px 0px 2px 2px rgba(211, 211, 237, 1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(211, 211, 237, 1);
    box-shadow: 0px 0px 2px 2px rgba(211, 211, 237, 1);
}