@import "~bootstrap/dist/css/bootstrap.css";
/*Content Sidebar*/
body {
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    overflow-y: hidden;
    padding: 0px;
    margin: 0px;
}
.ColorFondoGeneral{
    background-color: white !important;/*#f1f1f1*/
}
/*EndContent Sidebar*/
/*ICONO*/

.Icono{

}
.Icono img{
    width: 50px;
    height: 50px;
  
}
/*End ICONO*/

/*Style HEADER*/
.HeaderStyle{  
    background-color: white; 
    height: 55px !important;
    position: center !important;
  
}
.ContenidoHeader{   
    color: #5c5c5c;
    font-size: 14px;
    font-family: "Segoe UI Regular";
}
.HeaderStyle H5{
    color: #5c5c5c;
    font-family:"Segoe UI Regular";
    font-size: 24px;  
}
.buttonToggle {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: none !important;
    color: #1b81be;
}
.buttonToggle:hover {
    background-color: #f1f1f1;
    color: #1b81be;
}
/*End Style HEADER*/
/*Style Footer*/
.clavisco-footer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #f1f1f1;
    font-size: 15px;
    font-weight: 400;

}
/*End Style Footer*/